@import  '../../styles/variables';

.container {
  background-image: url(../../images/background.jpg);
  height: 100vh;

}

.field {
  width: 20rem; 
  height: 17rem;  
  margin-left: 3rem;
  margin-top: 14rem;
  border-radius: 1.8rem;
  background-color: $dark-gunmetal;
  position: absolute;

  @media(min-width: 768px) { //usar variável depois. não estou conseguindo colocar 
    left: 31rem ;
  }
}

.button {
  top: 13rem;
  position: relative;
  margin-left: 5.7rem;
  width: 9rem;  
  height: 2.30rem;
  border-radius: 10px;
  background-color: $purple;
  color: #ffff;
  font-size: 1rem;


}

