@import '../../styles/config'; 

.card__poster {
  width: px-to-rem(130);
  height: px-to-rem(195);
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: $white;
}

.card {
  margin-top: px-to-rem(30);
  margin-left: px-to-rem(32);
  width: px-to-rem(133);
  height: px-to-rem(230);
  margin-bottom: px-to-rem(16);
}

.card__title {
  display: flex;
  flex-direction: column;

}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media(min-width: $md) {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card__title {
  font-family: $font-family;
  font-weight: 400;
}
