@import  '../../styles/variables';

.button {
  background-color: $purple;
  border-radius: 10px;
  color: #ffff;
  font-size: 1rem;
  height: 2.30rem;
  margin-left: 5.7rem;
  position: relative;
  top: 13rem;
  width: 9rem;  

}
