//colors app 

$lilac: #8569E3;
$light-lilac: #A797DE;
$dark-purple: #32245E;
$purple: #8174AB;
$black: #12151C; 
$white: #ffff;
$grey: #454545;

//size-body

$sm:460px; 
$md:768px;
$lg:1024px; 

//font family

$font-family: 'Roboto Condensed', sans-serif;

