//colors app 

$lilac: #B243F7;
$purple: #7B3CE3;
$blue: #4447e2;
$light-grey: #646280;
$gunmetal: #2E2D3B;
$dark-gunmetal: #1D202B;
$black-russian: #171A23;
$black: #12151C; 

//size-body

$sm:460px; 
$md:768px;
$lg:1024px; 
