@import '../../styles/_config.scss';

body {
  background-color: $black;
}

.icon {
  width: px-to-rem(100);
  height: px-to-rem(100);
  left: 300px;

}

.title {
  margin-top: px-to-rem(15); 
  font-family: $font-family;
  font-weight: 700;
}

.title, .subtitle {
  padding-left: px-to-rem(29);
  color: $white;

}

.subtitle {
  font-family: $font-family;
  font-weight: 400;
  margin-bottom: px-to-rem(16);

}

.title--emph {
  color: $light-lilac;
  
}

.search {
  font-size: px-to-rem(17);
  padding-left: px-to-rem(40);
  margin-top: px-to-rem(15);
  height: px-to-rem(40);
  width: px-to-rem(350);
  border-radius: px-to-rem(16);
  color: $white;
  border: transparent;
  background-color: rgba(68, 56, 56, 0.466);
  font-family: $font-family;
  font-weight: 400;

  @media (min-width: $md) {
    width: px-to-rem(500);
  }
}

.search:focus {
  outline-color:  $lilac;
}


.magnifyingGlass {
  width: px-to-rem(22);
  height: px-to-rem(22);
  transform: translate(151%, 31%);

}

